[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
tblib = "*"
psutil = "*"
itsdangerous = "*"
joblib = "*"

[dev-packages]
sphinx-rtd-theme = "*"
ipython = "*"
sphinx = "*"
twine = "*"
pytest = "*"

[requires]
python_version = "3.5.2"
