[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
tblib = "*"
psutil = "*"
cloudpickle = "*"

[dev-packages]
zproc = {editable = true,path = "."}
sphinx-rtd-theme = "*"
ipython = "*"
sphinx = "*"
twine = "*"
pytest = "*"
yappi = "*"
pytest-repeat = "*"
mypy = "*"

[requires]
python_version = "3.6"
