[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyzmq = "*"
tblib = "*"
psutil = "*"

[dev-packages]
tinydb = "*"
ipython = "*"
sphinx = "*"
yappi = "*"

[requires]
python_version = "3.5"
